<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" href="https://use.typekit.net/yij4raz.css" as="style" />
    <link rel="stylesheet" href="https://use.typekit.net/yij4raz.css" />
    <title>Astro</title>
  </head>
  <body class="font-futura">
    <slot />
  </body>
</html>
